# CI for roduct Catalog Service 
name: Product Catalog Service CI

on:
 pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go 1.22
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'
      
      - name: Build
        run: |
          cd src/product-catalog
          go mod download
          go build -o product-catalog-service main.go

      - name: unit tests
        run: |
          cd src/product-catalog
          go test -v ./...
          
  code-quality:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        run:  |
              go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.56.1
              golangci-lint run ./src/product-catalog/...
  
  docker:
    runs-on: ubuntu-latest

    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: install Docker 
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: src/product-catalog
          file: src/product-catalog/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/product-catalog-service:${{ github.run_id }}
      
  Updatek8s:
    runs-on: ubuntu-latest

    needs: docker

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with: 
          token: ${{ secrets.GITHUB_TOKEN }}
    
      - name: Update tag in k8s deployment file
        run: |
          NEW_IMAGE="${{ secrets.DOCKER_HUB_USERNAME }}/productcatalogservice:${{ github.run_id }}"
          FILE="src/k8s/deployments/product-catalog-deployment.yaml"
          
          
          echo "Old image:"
          grep -E 'image:' $FILE || true

         
          sed -i "s|^[[:space:]]*image:.*|  image: ${NEW_IMAGE}|" "$FILE"

          
          echo "New image:"
          grep -E 'image:' $FILE || true

        
      - name: Commit and push changes
        run: |
          git config --global user.email "sreelajavm@gmail.com"
          git config --global user.name "sreemural"
          git add src/k8s/deployments/product-catalog-deployment.yaml
          git commit -m "Update product catalog deployment image tag to"
          git push


